@font-face {
  font-family: 'Poppins_bold';
  src: local(Poppins_bold), url(./Fonts/Poppins-Bold.woff2) format('woff2'),
    url(./Fonts/Poppins-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Poppins_Regular';
  src: local(Poppins_Regular),
    url(./Fonts/Poppins-Regular.woff2) format('woff2'),
    url(./Fonts/Poppins-Regular.woff) format('woff');
}

body {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background: url(./img/background.png);
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  ul {
    padding: 0;
  }
  button {
    outline: none;
    cursor: pointer;
    object-fit: contain;
  }
  #root {
    .principal_container {
      h1 {
        max-width: 473px;
        margin: auto;
        text-align: left;
        padding-bottom: 10px;
        font-family: 'Poppins_bold';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: #f2f2f2;
        text-transform: uppercase;
      }
      .container {
        margin: auto;
        max-width: 400px;
        padding-top: 50px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 12px;
        padding-bottom: 20px;
        background-color: white;
        position: relative;
        .undraw_adventure {
          position: absolute;
          top: -63px;
          right: 0px;
          width: 140px;
          height: auto;
        }
        .flag {
          width: 84px;
          height: 54px;
          filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
          border-radius: 4px;
        }
        h2 {
          margin: 0;
          padding: 10px 0;
          max-width: 198px;
          line-height: 36px;
          font-family: 'Poppins_Regular';
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          color: #2f527b;
        }
        .flag_question {
          margin: 0;
          font-size: 24px;
          max-width: 100%;
          color: #2f527b;
          font-weight: bold;
          line-height: 36px;
          padding-top: 20px;
          padding-bottom: 25px;
        }
        .button_container {
          .buttons {
            width: 100%;
            outline: none;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            padding: 14px;
            position: relative;
            background: #fff;
            text-align: center;
            border-radius: 12px;
            margin-bottom: 25px;
            box-sizing: border-box;
            color: rgba(96, 102, 208, 0.8);
            border: 2px solid rgba(96, 102, 208, 0.7);
            font-family: 'Poppins_Regular';
            cursor: pointer;
          }
          .buttons:hover {
            color: white;
            background: #f9a826;
          }
          .true_answer {
            color: white;
            background: rgb(96, 191, 136);
            background-repeat: no-repeat;
            background-position: 97% 50%;
            background-image: url(./img/check_circle.svg);
          }
          .true_answer:hover {
            color: white;
            background: rgb(96, 191, 136);
            background-position: 97% 50%;
            background-repeat: no-repeat;
            background-image: url(./img/check_circle.svg);
          }
          .false_answer {
            color: white;
            background: rgb(234, 130, 130);
            background-repeat: no-repeat;
            background-position: 97% 50%;
            background-image: url(./img/cancel.svg);
          }
          .false_answer:hover {
            color: white;
            background: rgb(234, 130, 130);
            background-repeat: no-repeat;
            background-position: 97% 50%;
            background-image: url(./img/cancel.svg);
          }
        }
        .restart {
          display: flex;
          align-items: center;
          flex-direction: column;
          .undraw_winners {
            width: 238px;
          }
          h2 {
            padding-top: 72px;
            padding-bottom: 0;
            font-family: 'Poppins_bold';
            font-weight: bold;
            font-size: 48px;
            line-height: 64px;
            color: #1d355d;
          }
          p {
            font-family: 'Poppins_Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            color: #2f527b;
            padding-top: 30px;
            line-height: 36px;
            padding-bottom: 71px;
            padding-top: 0;
            margin: 0;
          }
          .btn_tryAigain {
            outline: none;
            font-size: 18px;
            font-weight: 600;
            color: #1d355d;
            line-height: 27px;
            background: #fff;
            border-radius: 12px;
            box-sizing: border-box;
            border: 2px solid #1d355d;
            cursor: pointer;
            padding: 17px 63px;
          }
          .btn_tryAigain:hover {
            background: #f9a826;
          }
        }
      }
      .btn_next {
        border: none;
        outline: none;
        padding: 15px 30px;
        border-radius: 12px;
        background: #f9a826;
        box-shadow: 0 2px 4px rgba(252, 168, 47, 0.4);
        font-family: 'Poppins_bold';
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        margin-left: auto;
      }
    }
  }
}

@media (min-width: 720px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
