
body {
    margin: 0;
    padding: 16px;
    padding-top: 40px;
    max-width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background: url(./img/background.png);
    font-family: Arial, Helvetica, sans-serif;
    #root {
        .principal_container {
            h1 {
                margin: 0;
                margin: auto;
                color: white;
                max-width: 370px;
                font-weight: 600;
                max-width: 400px;
                text-align: left;
                padding-bottom: 20px;
            }
            .container {
                margin: auto;
                max-width: 370px;
                padding-top: 32px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 12px;
                padding-bottom: 32px;
                background-color: white;
                position: relative;
                .adventure_image {
                    position: absolute;
                    top: -16%;
                    right: 1%;
                    width: 40%;
                }
                img {
                    width: 84px;
                }
                h2 {
                    margin: 0;
                    padding: 10px 0;
                    font-size: 24px;
                    max-width: 198px;
                    color: #2F527B;
                    font-weight: bold;
                    line-height: 36px;
                    font-style: normal;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .flag_question {
                    margin: 0;
                    padding: 10px 0;
                    font-size: 24px;
                    max-width: 100%;
                    color: #2F527B;
                    font-weight: bold;
                    line-height: 36px;
                    font-style: normal;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .button_container {
                    .buttons {
                        width: 100%;
                        outline: none;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 27px;
                        padding: 12px 10px;
                        position: relative;
                        background: #fff;
                        text-align: center;
                        border-radius: 12px;
                        margin-bottom: 10px;
                        box-sizing: border-box;
                        color: rgba(96,102,208,.8);
                        border: 2px solid rgba(96,102,208,.7);
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    .buttons:hover {
                        color: white;
                        background: #F9A826;
                    }
                    .true {
                        color: white;
                        background: rgb(96, 191, 136);
                        background-repeat: no-repeat;
                        background-position: 97% 50%;
                        background-image: url(./img/check_circle.svg);
                    }
                    .true:hover {
                        color: white;
                        background: rgb(96, 191, 136);
                        background-position: 97% 50%;
                        background-repeat: no-repeat;
                        background-image: url(./img/check_circle.svg);
                    }
                    .responded {
                            background: rgb(234, 130, 130);
                        background-repeat: no-repeat;
                        background-position: 97% 50%;
                        background-image: url(./img/cancel.svg);
                    }
                    .responded:hover {
                            background: rgb(234, 130, 130);
                        background-repeat: no-repeat;
                        background-position: 97% 50%;
                        background-image: url(./img/cancel.svg);
                    }
                }
            }
            .btn_next {
                border: none;
                outline: none;
                font-weight: 700;
                font-size: 18px;
                margin-top: 10px;
                line-height: 27px;
                font-family: "Poppins";
                padding: 15px 30px;
                margin-bottom: 10px;
                border-radius: 12px;
                color: #fff;
                background: #f9a826;
                box-shadow: 0 2px 4px rgba(252,168,47,.4);

                
            }
            .restart {
                display: flex;
                align-items: center;
                flex-direction: column;
                h2 {
                    font-size: 24px;
                    color: #2f527b;
                    padding-top: 50px;
                    line-height: 36px;
                    padding-bottom: 20px;
                }
                p {
                    font-size: 24px;
                    color: #2f527b;
                    padding-top: 30px;
                    line-height: 36px;
                    padding-bottom: 20px;
                }
                .btn_tryAigain {
                    width: 209px;
                    height: 62px;
                    outline: none;
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: 30px;
                    color: #1d355d;
                    line-height: 27px;
                    background: #fff;
                    margin-bottom: 20px;
                    border-radius: 12px;
                    box-sizing: border-box;
                    border: 2px solid #1d355d;
                }
                .btn_tryAigain:hover {
                    background: #F9A826;
                }
            }
        }
    }
}
