@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: local('Poppins Bold'), local('Poppins-Bold'),
    url('./fonts/poppins_700.woff2') format('woff2'),
    url('./fonts/poppins_700.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('./fonts/poppins_600.woff2') format('woff2'),
    url('./fonts/poppins_600.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: local('Poppins Medium'), local('Poppins-Medium'),
    url('./fonts/poppins_500.woff2') format('woff2'),
    url('./fonts/poppins_500.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url('./fonts/poppins_400.woff2') format('woff2'),
    url('./fonts/poppins_400.woff') format('woff');
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  position: relative;
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  img {
    max-width: 84px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  #root {
    .container {
      // max-width: 464px;
      // margin: 0 auto;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      .sub_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
          font-size: 36px;
          color: #ffffff;
          font-weight: 700;
          padding-bottom: 8px;
          text-transform: uppercase;
          line-height: 45px;
          align-self: center;
        }
        .startBtn {
          font-size: 18px;
          color: #1d355d;
          font-weight: 600;
          line-height: 27px;
          padding: 1rem 2rem;
          align-self: center;
          border-radius: 12px;
          background-color: #ffffff;
        }
      }
    }
  }
}

// body {
//   #root {
//     .container {
//       .wrapper {
//         margin: auto;
//         max-width: 400px;
//         padding: 30px;
//         border-radius: 12px;
//         background-color: white;
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         .wrapper_text {
//           color: #2f527b;
//           font-weight: 700;
//           font-size: 27px;
//           line-height: 32px;
//           margin-top: 16px;
//           margin-bottom: 16px;
//         }
//       }
//       .wrapper::before {
//         content: '';
//         width: 32%;
//         height: 24%;
//         position: absolute;
//         top: -13%;
//         left: 68%;
//         background-image: url('./img/undraw_adventure.svg');
//         background-position: right 100%;
//         background-repeat: no-repeat;
//         background-size: 100% 114%;
//       }
//     }
//   }
// }

// // body {

// // .answers {
// //   display: flex;
// //   flex-direction: column;
// //   row-gap: 1rem;
// // }

// // .answers button {
// //   padding: 1rem;
// //   padding-left: 22%;
// //   background-color: transparent;
// //   border: 2px solid #6066d0;
// //   color: #6066d0;
// //   border-radius: 5px;
// //   min-height: 56px;
// //   text-align: left;
// //   font-size: 18px;
// //   font-weight: 500;
// // }
// // @media (max-width: 320px) {
// //   .answers button {
// //     padding-left: 53px;
// //   }
// // }

// // .answers button:first-of-type::before {
// //   content: 'A';
// //   width: 2rem;
// //   height: 2rem;
// //   left: 55px;
// //   position: absolute;
// // }

// // .answers button:nth-of-type(2)::before {
// //   content: 'B';
// //   width: 2rem;
// //   height: 2rem;
// //   left: 55px;
// //   position: absolute;
// // }

// // .answers button:nth-of-type(3)::before {
// //   content: 'C';
// //   width: 2rem;
// //   height: 2rem;
// //   left: 55px;
// //   position: absolute;
// // }

// // .answers button:nth-of-type(4)::before {
// //   content: 'D';
// //   width: 2rem;
// //   height: 2rem;
// //   left: 55px;
// //   position: absolute;
// // }

// // p {
// //   color: #1d355d;
// // }

// // .nextBtn {
// //   background-color: #f9a826;
// //   color: #ffffff;
// //   border: none;
// //   padding: 16px 36px;
// //   margin-top: 1rem;
// //   border-radius: 12px;
// //   align-self: flex-end;
// //   font-weight: 700;
// //   font-size: 18px;
// //   line-height: 27px;
// // }

// // .tryAgainBtn {
// //   max-width: 209px;
// //   max-height: 62px;
// //   background-color: transparent;
// //   color: #1d355d;
// //   padding: 18px 60px;
// //   border: 2px solid #1d355d;
// //   border-radius: 5px;
// //   font-weight: 600;
// //   font-size: 18px;
// //   line-height: 27px;
// // }

// // .tryAgainBtn:hover {
// //   background-color: #f9a826;
// //   color: #ffffff;
// //   border: #ffffff;
// // }

// // .result {
// //   background-image: url('./img/undraw_winners.svg');
// //   background-position: center 15%;
// //   background-repeat: no-repeat;
// //   background-size: 238px 128px;
// //   padding-top: 250px;
// //   display: flex;
// //   flex-direction: column;
// //   align-items: center;
// //   justify-content: center;
// // }

// // .result::before {
// //   content: '';
// //   background-image: none;
// // }

// // h2 {
// //   font-size: 48px;
// //   font-weight: 700;
// //   color: #1d355d;
// //   line-height: 72px;
// // }
// // @media (max-width: 290px) {
// //   h2 {
// //     font-size: 30px;
// //     font-weight: 600;
// //     line-height: 50px;
// //   }
// // }

// // b {
// //   color: #60bf88;
// //   font-weight: 800;
// //   font-size: 40px;
// // }

// // .result p {
// //   font-weight: 400;
// //   font-size: 26px;
// //   line-height: 44px;
// //   padding-bottom: 71px;
// // }
// // @media (max-width: 290px) {
// //   .result p {
// //     font-size: 20px;
// //     line-height: 32px;
// //   }
// // }

// // button {
// //   outline: none;
// //   cursor: pointer;
// // }
